.p-3 {
    text-align: center;
}
#mais{
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all .5s;

}
.section-view,
.section-add-edit {
  padding-top: 50px;
}

.section-add-edit {
  display: none;
}

.centered-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.centered-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
}